@import 'variables.css';

#forgot-password {
    max-width: 600px;
    margin: 5rem auto; 
    background-color: var(--background-white);
    padding: 3rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: var(--shadow-dark);
}

#forgot-password h1 {
    color: var(--primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-semibold);
    margin-bottom: 1.5rem;
}

#forgot-password p {
    color: var(--text-dark);
    font-size: var(--font-size-base);
    margin: 2rem 0;
    line-height: var(--line-height-normal);
}

#forgot-password .message {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: var(--text-dark);
}

#forgot-password .message.error {
    background-color: var(--accent-light);
    color: var(--text-light);
}

#forgot-password .message.success {
    background-color: var(--success);
    color: var(--text-light);
}

#forgot-password form {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 420px;
    margin: 0 auto; 
}

#forgot-password input[type="email"] {
    flex: 1;
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid var(--neutral-dark);
    border-radius: 6px;
    font-size: var(--font-size-base);
}

#forgot-password input[type="email"]:focus {
    border: 1.5px solid var(--primary);
    outline: none;
}

#forgot-password button {
    height: 3rem;
    padding: 0 2rem;
    background-color: var(--secondary);
    color: var(--text-light);
    border-radius: 6px;
    font-weight: var(--font-semibold);
    transition: all 0.3s ease;
}

#forgot-password button:hover {
    background-color: var(--secondary-light);
    transform: translateY(-2px);
    box-shadow: var(--shadow-dark);
}


@media (max-width: 768px) {
    #forgot-password, #delete-profile {
        max-width: 90%;
        margin: 2rem auto;
        padding: 2rem;
    }

    #forgot-password form, #delete-profile form {
        flex-direction: column;
    }

    #forgot-password button, #delete-profile button {
        width: 100%;
    }
}
  