@import 'variables.css';

.language-selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 1rem;
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
}

.language-selector a {
    padding: 0.4rem 0.9rem;
    border-radius: 6px;
    text-decoration: unset !important;
    color: var(--text-light);
    font-weight: var(--font-semibold);
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.language-selector a:hover,
.language-selector a:focus {
    background: var(--primary-light);
    color: var(--secondary-light);
    box-shadow: var(--shadow-light);
    text-decoration: none;
}

.language-selector a.active {
    background: var(--primary-light);
    color: var(--secondary-light);
    text-decoration: underline;
    box-shadow: var(--shadow-light);
}

.language-selector span {
    color: var(--neutral-dark);
    margin: 0 0.3rem;
    font-size: 1.2em;
    user-select: none;
}