@import 'variables.css';

main#login, main#signup {
    display: flex;
    min-height: calc(100vh - 0rem); 
    padding: 4rem; 
    margin-top: 0; 

    form {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 1rem;
        margin: auto;
        padding: 2.5rem;
        background-color: var(--background-white);
        border-radius: 12px;
        box-shadow: var(--shadow-dark);
    }
    
    h1 {
        color: var(--primary);
        font-size: 1.8rem;
        font-weight: var(--font-semibold);
        margin-bottom: 1.5rem;
        text-align: center;
    }
}


@media (max-width: 768px) {
    main#login {
        padding: 0.5rem 1rem 1rem; 
        min-height: calc(100vh - 20rem); 
        
        form {
            width: 100%;
            padding: 1.5rem;
        }

        input, button {
            width: 100%;
            margin-bottom: 0;
        }

        button {
            margin-top: 1rem;
            position: static;
        }
    }
}

@media (max-width: 768px) {
    main#signup {
        padding: 0.5rem 1rem 1rem; 
        min-height: calc(100vh - 7rem); 
        
        form {
            width: 100%;
            padding: 1.5rem;
        }

        input, button {
            width: 100%;
            margin-bottom: 0;
        }

        button {
            margin-top: 1rem;
            position: static;
        }
    }
}

main#login input:focus,
main#signup input:focus {
    border: 1.5px solid var(--primary);
    outline: none;
}