
@import 'variables.css';

.image-card {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px;
    transition: all 0.3s ease;
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% - 20px);
    margin: 0 10px 15px 0;
  }
  .image-card.selected {
    border-color: var(--success);
    background-color: var(--background-white);
  }
  .image-selection {
    position: relative;
    cursor: pointer;
  }
  .image-radio {
    position: absolute;
    top: 10px; left: 10px;
    z-index: 2;
    width: 20px; height: 20px;
  }

  

  
  