<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot-password.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='delete-profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin-dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='toast.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='items.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='item-detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit-profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='publish_item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='item_creation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit-item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit-items.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='language-selector.css') }}">

    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
 
      
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""></script>

      <title>
        {{ title | default("Flear_market") }}
    </title>
</head>

<body>
    <div id="toast_container"></div>

    <nav>
      
      <a class="{{ active_index }}" href="{{ url_for('view_index', lan=lan) }}">{{ languages[lan+"_home"] }}</a>

      
        <div>
              <div class="language-selector">
                {% set view_args = request.view_args.copy() if request.view_args else {} %}
                {% if 'lan' in view_args %}
                    {% set _ = view_args.pop('lan') %}
                {% endif %}
                <a href="{{ url_for(request.endpoint, lan='en', **view_args) }}" class="{{ 'active' if lan == 'en' else '' }}">EN</a>
                <span>|</span>
                <a href="{{ url_for(request.endpoint, lan='dk', **view_args) }}" class="{{ 'active' if lan == 'dk' else '' }}">DK</a>
            </div>
        </div>
      
        <div>
          {% if not is_session %}
            
            <a class="{{ active_signup }}" href="{{ url_for('show_signup', lan=lan) }}">{{ languages[lan+"_signup"] }}</a>
            <a class="{{ active_login }}" href="{{ url_for('show_login', lan=lan) }}">{{ languages[lan+"_login"] }}</a>
          {% else %}
          <a href="{{ url_for('logout', lan=lan) }}">{{ languages[lan+"_logout"] }}</a>
           
            <a class="{{ active_add_item }}" href="{{ url_for('add_item_page', lan=lan) }}">{{ languages[lan+"_add_item"] }}</a>
            <a class="{{ active_edit_items }}" href="{{ url_for('show_edit_items', lan=lan) }}">{{ languages[lan+"_edit_items"] }}</a>
            
            <a class="{{ active_profile }}" href="{{ url_for('profile', lan=lan) }}">{{ languages[lan+"_profile"] }}</a>
            {% if session.user.role_fk == 1 %}
              <a class="{{ active_admin }}" href="{{ url_for('admin_dashboard', lan=lan) }}">{{ languages[lan+"_admin_dashboard"] }}</a>
            {% endif %}
          {% endif %}
        </div>
        
      </nav>
      

      
 
    
