<div class="item" mix-get="/items/{{ item.item_pk }}">
    {% if '/' in item.item_image %}
        <img src="{{ url_for('static', filename=item.item_image) }}" alt="{{ item.item_name }}">
    {% elif item.item_image in ['1.jpg', '2.jpg', 'default.jpg'] %}
        <img src="{{ url_for('static', filename='images/'+item.item_image) }}" alt="{{ item.item_name }}">
    {% else %}
        <img src="{{ url_for('static', filename='uploads/'+item.item_image) }}" alt="{{ item.item_name }}">
    {% endif %}

    <p>{{ item.item_name }}</p>
    
    <div class="price-usd">
        {{ "{:,}".format(item.item_price) }} USD
    </div>
    
    <div class="price-dkk">
        {{ "{:,.0f}".format(item.item_price * rates.rates.DKK) }} DKK
    </div>
    
    {% if item.item_description %}
    <div class="item-description">
        {{ item.item_description }}
    </div>
    {% endif %}
    
    {% if item.item_contact_url %}
    <div class="item-link">
    </div>
    {% endif %}
</div>