{% include "_header.html" %}

<main id="forgot-password">
    <h1>{{ languages[lan+"_reset_password"] if hasattr(languages, lan+"_reset_password") else "Reset Your Password" }}</h1>

    {% if message %}
    <div class="toast success">
        {{ message }}
    </div>
    {% endif %}
    
    <form action="/forgot-password/{{lan}}" method="POST">
        <input name="user_email" type="email" placeholder="{{ languages[lan+'_enter_email'] if hasattr(languages, lan+'_enter_email') else 'Enter your email' }}" required>
        <button>{{ languages[lan+"_send_reset_link"] if hasattr(languages, lan+"_send_reset_link") else "Send reset link" }}</button>
        <input type="hidden" name="lan" value="{{ lan }}">
    </form>
  </main>
  
{% include "_footer.html" %}

