{% include "_header.html" %}

{% if message %}
<div class="toast success">
    {{ message }}
</div>
{% endif %}

<main id="login">
    <form action="/login/{{lan}}" method="POST">
        <h1>{{ languages[lan+"_login"] }}</h1>
        <input name="user_email" type="text" placeholder="{{ languages[lan+'_user_email'] }}">
        <input name="user_password" type="password" placeholder="{{ languages[lan+'_user_password'] }}">
        <button class="mt1">{{ languages[lan+"_login_button"] }}</button>
        <p><a href="/forgot-password/{{lan}}">{{ languages[lan+"_forgot_password"] }}</a></p>
        <input type="hidden" name="lan" value="{{ lan }}">
    </form>
</main>

{% include "_footer.html" %}



