{% include "_header.html" %}

<main id="forgot-password">
    <h1>{{ languages[lan + "_reset_password"] }}</h1>

    {% if message %}
    <div class="toast error">
        {{ message }}
    </div>
    {% endif %}

    <form action="/reset-password/{{ reset_key }}" method="POST">
        <input type="password" name="new_password" placeholder="{{ languages[lan + '_enter_password'] }}" required>
        <button>{{ languages[lan + "_reset_password"] }}</button>
        <input type="hidden" name="lan" value="{{ lan }}">
    </form>
</main>

{% include "_footer.html" %}
